.vscode

data/*
!data/examples

build

run/*

bash/*
!bash/build.bat
!bash/test_cube.bat
!bash/test_selected.bat
!bash/test_ir.bat
!bash/test_robust.bat
!bash/cuda.bat
!bash/test_iter.bat
!bash/test_cuda.bat

scripts/__pycache__
# use to produce my own graduation paper's figures
scripts/paper_raw_imgs.py 
scripts/l0_vis.py 
imgs/paper
exp
