[submodule "src/dependencies/libigl"]
	path = src/dependencies/libigl
	url = git@github.com:libigl/libigl.git
[submodule "src/dependencies/spectra"]
	path = src/dependencies/spectra
	url = git@github.com:yixuan/spectra.git
[submodule "src/dependencies/eigen"]
	path = src/dependencies/eigen
	url = git@github.com:libigl/eigen.git
[submodule "src/dependencies/clipp"]
	path = src/dependencies/clipp
	url = git@github.com:muellan/clipp.git
