.vscode

data/*
!data/examples

build

run/*

bash/*
!bash/build.bat
!bash/test_cube.bat
!bash/eval_cube.bat
!bash/cuda.bat

scripts/__pycache__
# use to produce my own graduation paper's figures
scripts/paper_raw_imgs.py 
scripts/l0_vis.py 
imgs/paper
make_figure.ipynb
